html {
    scroll-behavior: smooth;
}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
}


#main-header {
    background-color: #ffffff;
    color: #0d0707;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#HI {
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center; 
}

nav {
    margin-top: 10px; 
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #080808;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #efc804;
}


#image {
    text-align: center;
    margin-top: 20px;
}

#image img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.social-media-links img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    .social-media-links img {
        width: 25px;
        height: 25px;
        margin-right: 5px;
    }
}

.gallery {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.image {
    border: 1px solid #ddd;
    overflow: hidden;
}

.image img {
    width: 200px;
    height: 200px;
    padding-right: 20px;
    transition: transform 0.3s ease;
}

.image:hover img {
    transform: scale(1.1);
}

form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #efc804;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 0.8s ease-in-out; /* Added fade-in-up animation */
}

@keyframes fadeInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #555;
    color:#fff;
}

/* Add styles for form success or error messages */
.message {
    margin-top: 16px;
    padding: 12px;
    border-radius: 4px;
}

.success {
    background-color: #4caf50;
    color: #fff;
}

.error {
    background-color: #f44336;
    color:#fff;
}


#goToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: opacity 0.3s;
}

#goToTopBtn:hover {
    opacity: 0.8;
}



    


       
